
PG/app/src/main/AndroidManifest.xml
PG/app/src/main/AndroidManifest.xml
PG/app/src/main/AndroidManifest.xml
PG/app/src/main/java/com/timbuchalka/pg/AlleleActivity.java
PG/app/src/main/res/layout/activity_allele.xml
PG/app/src/main/res/layout/activity_dosage_calc.xml
PG/app/src/main/res/values/strings.xml
